$primary: #ff7837;
$secondary: #c72707;
$gradient-1: linear-gradient(135deg, rgba($primary, 1), rgba($secondary, 1));
$gradient-2: linear-gradient(90deg, rgba($primary, 1), rgba($secondary, 1));

$scheme: (
  "orange": (
    "50": #fff5ed,
    "100": #ffe8d4,
    "200": #ffcca8,
    "300": #ffa870,
    "400": #ff7837,
    "500": #ff5b19,
    "600": #f03906,
    "700": #c72707,
    "800": #9e200e,
    "900": #7f1e0f,
    "950": #450b05,
  ),
  "satin": (
    "50": #f8f8f2,
    "100": #e5e3d2,
    "200": #d3d0b4,
    "300": #bdb68c,
    "400": #ada372,
    "500": #a08e60,
    "600": #8d7852,
    "700": #765f47,
    "800": #624f3e,
    "900": #524235,
    "950": #2d231b,
  ),
  "gray": (
    "50": #f6f6f6,
    "100": #e7e7e7,
    "200": #d1d1d1,
    "300": #b0b0b0,
    "400": #888888,
    "500": #6d6d6d,
    "600": #5d5d5d,
    "700": #4f4f4f,
    "800": #454545,
    "900": #3d3d3d,
    "950": #161616,
  ),
);
